{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block head %}
  <link href="{% static 'css/member_signup.css' %}" rel="stylesheet">
    {{ form.media }}
{% endblock head %}

{% block body %}
    <h1 class="logo"><a href="{% url 'home' %}">Medlemmer</a></h1>
    <div class="signup">
    <table border="1">
        <thead>
        <tr>
            <th>first_name</th>
            <th>last_name</th>
            <th>email</th>
            <th>student_status</th>
            <th>reg_date</th>
            <th>gender</th>
            <th>birthday</th>
        </tr>
        </thead>
        <tbody>
        {% for m in member %}
            <tr>
                <td>{{ m.first_name }}</td>
                <td>{{ m.last_name }}</td>
                <td>{{ m.email }}</td>
                <td>{{ m.student_status }}</td>
                <td>{{ m.reg_date }}</td>
                <td>{{ m.gender }}</td>
                <td>{{ m.birthday }}</td>
            </tr>
            <td><a href="{% url "member_edit" m.member_no %}">Edit </a>
            <a href="{% url "member_delete" pk=m.member_no %}">Delete </a></td>
        {% endfor %}

        </tbody>
    </table>
 </div>
{% endblock body %}