{% extends 'base.html' %}

{#{% load staticfiles i18n %}#}
{##}
{#{% block head %}#}
{#  <link href="{% static 'css/events.css' %}" rel="stylesheet">#}
{#    {{ form.media }}#}
{#{% endblock head %}#}

{% block main %}

{#    <p>Are you sure you want to delete "{{ member.first_name }}"?</p>#}

    <form action="" method="post">
{#    <form action="" method="POST">#}
        {% csrf_token %}
        <p>Are you sure you want to delete {{ m.member_no }}?</p>
        <input type="submit"  value="Yes, delete" />
        <a href="{% url "member_overview" %}">No, cancel.</a>
    </form>


{#    <div class="confirmation-box">#}
{#        <p>{{ messages }}</p>#}
{#        <div>#}
{#            <a href="{{ member_overview }}">Cancel</a>#}
{#            <form action="{{ member_delete }}" method="post">#}
{#                <input type="hidden" name="next" value="{{ member_overview }}" />#}
{#                <input type="submit" value="Send" />#}
{#            </form>#}
{#        </div>#}
{#    </div>#}

{% endblock main %}