{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block head %}
  <link href="{% static 'css/member_signup.css' %}" rel="stylesheet">
{#    {{ form.media }}#}
{% endblock head %}

{% block body %}
  <h1 class="logo"><a href="{% url 'member_overview' %}">Medlemmer</a></h1>
  <div class="signup">
    {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    <h2>{% trans 'Oppddater member' %}</h2>
    <form action="{% url 'member_update' member.member_no %}"  method="post" role="form">
        {% csrf_token %}
{#          {% for field in form.visible_fields %}#}
{#            <div class="form-group{% if field.errors %} has-error{% endif %}">#}
{#              <label for="{{ field.label }}">{{ field.label }}</label>#}
{#                <div class="col-sm-10">#}
{#                  {{ field }}#}
{#                  {% if field.help_text %}#}
{#                    <span class="help-block">{{ field.help_text }}</span>#}
{#                  {% endif %}#}
{#                  {% for error in field.errors %}#}
{#                    <label class="control-label">{{ error }}</label>#}
{#                  {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#          {% endfor %}#}
{#      <center><button type="submit" class="btn btn-primary btn-lg">{% trans 'member_update' %}</button></center>#}
{#    </form>#}
{#  </div>#}
{#{% endblock body %}#}


{#      <form action="" method="post">#}
{#      {% csrf_token %}#}
{#        <table>#}
{#        {{ form.as_table }}#}
{#        </table>#}
{#        <input type="submit" value="Submit" />#}






        <label for="first_name">first_name: <input type="text" name="first_name" id="first_name"
       value="{{ member.first_name }}" placeholder="{{ member.first_name }}"/>
        </label>
        <label for="last_name">last_name: <input type="text" name="last_name" id="last_name"
         value="{{ member.last_name }}" placeholder="{{ member.last_name }}"/>
        </label>
        <label for="email">email: <input type="text" name="email" id="email"
         value="{{ member.email }}" placeholder="{{ member.email }}"/>
        </label>
        <label for="student_status">student_status: <input type="checkbox" name="student_status" id="student_status"
         value="{{ member.student_status }}" placeholder="{{ member.student_status }}"/>
        </label>
        <label for="reg_date">reg_date: <input type="datetime" name="reg_date" id="reg_date"
         value="{{ member.reg_date }}" placeholder="{{ member.reg_date }}"/>
        </label>
          <label for="gender">gender: <input type="text" name="gender" id="gender"
         value="{{ member.gender }}" placeholder="{{ member.gender }}"/>
        </label>
        <label for="birthday">birthday: <input type="datetime" name="birthday" id="birthday"
         value="{{ member.birthday }}" placeholder="{{ member.birthday }}"/>
        </label>

          <center><button type="submit" class="btn btn-primary btn-lg">{% trans 'member_update' %}</button></center>
    </form>
  </div>
{% endblock body %}