{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Association{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/sio-logo.jpg' %}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/SiO.css' %}?v=1" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% include 'session_security/all.html' %}
  	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
  </head>

{% block head %}
  <link href="{% static 'css/member_signup.css' %}" rel="stylesheet">
    {{ form.media }}

      <script>
         $(function() {
          $(".preload").fadeOut(700, function() {
             $(".containerBox").fadeIn(300);
          });
      });
     </script>
{% endblock head %}

{% block main %}

     <div class="preload">
            <img src="{% static 'img/ajax-loader.gif' %}">
      </div>

    <div class="containerBox">

      <h1 class="logo"><a href="{% url 'member_overview' %}"><span class="glyphicon glyphicon-trash"></span> Members</a></h1>


 <div class="signup">
    <form action="" method="POST">
        {% csrf_token %}
         <center><h4>Are you sure you want to delete following member ?</h4></center>
        <br>
         <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Date of Birth</th>
                    <th>Reg date</th>
                    <th>End date</th>
                </tr>
             </thead>
              <tbody>
                <tr>
                    <td>{{ member.first_name }}</td>
                    <td>{{ member.last_name }}</td>
                    <td>{{ member.email }}</td>
                    <td>{{ member.gender }}</td>
                    <td>{{ member.date_of_birth }}</td>
                    <td>{{ member.reg_date }}</td>
                    <td>{{ member.end_date }}</td>
                </tr>
              </tbody>
         </table>
         <center><input type="submit" name="submit" class="btn btn-danger btn-m"  value="Yes, delete" />
        <a class="btn btn-info btn-m" href="{% url "member_overview" %}">No, cancel.</a></center>
    </form>
 </div>
    </div>


{% endblock main %}
