{% extends 'base.html' %}

{% load staticfiles i18n %}
{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#  <head>#}
{#    <meta charset="utf-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <title>{% block title %}Association{% endblock %}</title>#}
{#    <link rel="icon" type="image/png" href="{% static 'img/sio-logo.jpg' %}">#}
{#    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">#}
{#    <link href="{% static 'css/SiO.css' %}?v=1" rel="stylesheet">#}
{#    <!--[if lt IE 9]>#}
{#      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>#}
{#      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>#}
{#    <![endif]-->#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>#}
{#    {% include 'session_security/all.html' %}#}
{#  	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">#}
{#	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">#}
{#  </head>#}

{% block head %}
    <link href="{% static 'css/chart.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

{#        <script>#}
{#         $(function() {#}
{#          $(".preload").fadeOut(700, function() {#}
{#             $(".containerBox").fadeIn(300);#}
{#          });#}
{#      });#}
{#    </script>#}
{% endblock head %}

{% block main %}
{##}
{#               <div class="preload">#}
{##}
{#            <img src="{% static 'img/ajax-loader.gif' %}">#}
{#              </div>#}
{#            <div class="containerBox">#}

<h1 class="logo"><a href="{% url 'home' %}"><span class="fa fa-bar-chart "></span> Charts</a></h1>
    <script>
          $(function(){
    $(".dropdown-menu").on('click', 'li a', function(){
      $(".btn:first-child").text($(this).text());
      $(".btn:first-child").val($(this).text());
   });
});

    $(document).ready(function() {
        // For changing the icon in the panels
        $('.collapse').on('shown.bs.collapse', function () {
            $(this).parent().find(".fa-chevron-down")
                .removeClass("fa-chevron-down")
                .addClass("fa-chevron-up");
        }).on('hidden.bs.collapse', function () {
            $(this).parent().find(".fa-chevron-up")
                .removeClass("fa-chevron-up")
                .addClass("fa-chevron-down");
        })
    });

      var endpoint = '/api/chart/data/';

    var labels01 = [];
    var defaultData01 = [];
    var labels02 = [];
    var defaultData02 = [];
    var labels03 = [];
    var defaultData03 = [];
    var labels04 = [];
    var defaultData04 = [];
    var labels05 = [];
    var defaultData05 = [];
    var labels06 = [];
    var defaultData06 = [];
    var labels07 = [];
    var defaultData07 = [];
    var labels08 = [];
    var defaultData08 = [];
    var labels09 = [];
    var defaultData09 = [];
    var labels10 = [];
    var defaultData10 = [];
    var labels11 = [];
    var defaultData11 = [];
    var labels12 = [];
    var defaultData12 = [];



     $.ajax({
        method: "GET",
        url: endpoint,

        success: function (data) {
                labels01 = data.labels01;
                defaultData01 = data.default01;
                labels02 = data.labels02;
                defaultData02 = data.default02;
                labels03 = data.labels03;
                defaultData03 = data.default03;
                labels04 = data.labels04;
                defaultData04 = data.default04;
                labels05 = data.labels05;
                defaultData05 = data.default05;
                labels06 = data.labels06;
                defaultData06 = data.default06;
                labels07 = data.labels07;
                defaultData07 = data.default07;
                labels08 = data.labels08;
                defaultData08 = data.default08;
                labels09 = data.labels09;
                defaultData09 = data.default09;
                labels10 = data.labels10;
                defaultData10 = data.default10;
                labels11 = data.labels11;
                defaultData11 = data.default11;
                labels12 = data.labels12;
                defaultData12 = data.default12;
                thisYear = new Date().getFullYear();
                setChart()
            },
            error: function (error_data) {
                console.log("error");
                console.log(error_data)
            }
        });

         function setChart() {

             //Female & Male
              $(function () {
            $('#container2').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Members Registration '
                },
                  credits: {
                      enabled: false
                },
                subtitle: {
                },
                xAxis: {
                    title: { text: new Date().getFullYear() },
                    tickInterval: 1,

                    categories: [
                        'Group'
                    ]
                },
                yAxis: {
                    tickInterval: 1,
                    minRange: 1,
                    title: {
                        text: 'Data'
                    }
                },
                tooltip: {
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: labels01,
                    data: defaultData01

                },{
                    name: labels02,
                    data: defaultData02

                },{
                    name: labels03,
                    data: defaultData03

                },{
                    name: labels04,
                    data: defaultData04

                },{
                    name: labels05,
                    data: defaultData05
                },{
                    name: labels06,
                    data: defaultData06
                },{
                    name: labels07,
                    data: defaultData07
                },{
                    name: labels08,
                    data: defaultData08
                },{
                    name: labels09,
                    data: defaultData09
                },{
                    name: labels10,
                    data: defaultData10
                },{
                    name: labels11,
                    data: defaultData11
                },{
                    name: labels12,
                    data: defaultData12
                }]
            });
        });

          $(function () {
            $('#container3').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Members Registration '
                },
                 credits: {
                    enabled: false
                },
                subtitle: {
                },
                xAxis: {
                    title: { text: new Date().getFullYear() },
              type:"datetime",
          dateTimeLabelFormats:{
            year: '%Y'}
            ,
                    tickInterval: 1,
                    categories: [
                        'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'
                    ]
                },
                yAxis: {
                    tickInterval: 1,
                    minRange: 1,
                    title: {
                        text: 'Data'
                    }
                },
                tooltip: {
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Total',
                    data: [
                        defaultData01,
                        defaultData02,
                        defaultData03,
                        defaultData04,
                        defaultData05,
                        defaultData06,
                        defaultData07,
                        defaultData08,
                        defaultData09,
                        defaultData10,
                        defaultData11,
                        defaultData12
                    ]
                }]


            });
        });

               $(document).ready(function() {
    $('li.active').removeClass('active');
    $('a[href="' + location.pathname + '"]').closest('li').addClass('active');

{#    if (location.pathname === '{% url 'chartViewHighGender' %}') {#}
{#       $('a[href="{% url 'chartViewHighGender' %}"]').closest('li').addClass('active');#}
{#    }#}

    if (location.pathname === '{% url 'chartViewHighMonth' %}') {
       $('a[href="{% url 'chartViewHighMonth' %}"]').closest('li').addClass('active');
    }




});




     }




    </script>

    <div class="row">
<div class="chart">
<!-- Bruk denne dropdownen til å bestemme ulike statestikk -->
<div class="col-md-1 col-md-offset-1">
  <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle btn-lg" type="button" id="dropdownMenu" data-toggle="dropdown" aria-labelledby="dropdownMenu" aria-haspopup="true" aria-expanded="true">
    Select statistic
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a tabindex="-1" href="{% url 'chartViewHighAM' %}">Board & Member</a></li>
        <li><a tabindex="-1" href="{% url 'chartViewHighGender' %}">Gender</a></li>
        <li><a tabindex="-1" href="{% url 'chartViewHighMonth' %}">Monthly registrations</a></li>
        <li><a tabindex="-1" href="{% url 'chartViewHighAge' %}">Age difference</a></li>
  </ul>
</div>
</div>

    <div class="col-md-2 col-md-offset-7">
        <a class="btn btn-primary btn-lg" href="{% url 'home' %}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            {% trans 'Return Home' %}
        </a>
    </div>

    </div>
    </div>

    <br>

<div class="container">
     <div class="row">
        <div class ="col-sm-6 col-md-6">
            <div id="accordion3" class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseBody3">
                            Horizontal bar chart
                            <span class="fa fa-chevron-up pull-right"></span>
                        </a>
                    </h4>
                </div>
            <div id="collapseBody3" class="panel-collapse collapse in">
                <div class="chart1">
                        <div id="container2"></div>
                </div>
            </div>
            </div>
        </div>



        <div class ="col-sm-6 col-md-6">
            <div id="accordion4" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseBody4">
                            Bar chart
                        <span class="fa fa-chevron-up pull-right"></span>
                    </a>
                </h4>
            </div>
             <div id="collapseBody4" class="panel-collapse collapse in">
                <div class="chart1">
                        <div id="container3"></div>
                </div>
            </div>
            </div>
        </div>

    </div>
</div>

{#            </div>#}

{% endblock main %}


