{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block head %}
  <link href="{% static 'css/chart.css' %}" rel="stylesheet">
    {{ form.media }}
{% endblock head %}

{#<script>#}
{#    {% block jquery %}#}
{#    var endpoint = '/api/chart/data/';#}
{#    var defaultData = [];#}
{#    var labels = [];#}
{##}
{#    $.ajax({#}
{#        method: "GET",#}
{#        url: endpoint,#}
{#        success: function (data) {#}
{#            labels = data.labels;#}
{#            defaultData = data.default;#}
{#            setChart()#}
{#            },#}
{#            error: function (error_data) {#}
{#                console.log("error");#}
{#                console.log(error_data)#}
{#            }#}
{#        });#}
{##}
{#    function setChart(){#}
{#         var ctx = document.getElementById("myChart");#}
{#            var myChart = new Chart(ctx, {#}
{#                type: 'bar',#}
{#                data: {#}
{#                    labels: labels,#}
{#                    datasets: [{#}
{#                        label: 'Total',#}
{#                        data: defaultData,#}
{#                        backgroundColor: [#}
{#                            'rgba(255, 99, 132, 0.2)',#}
{#                            'rgba(54, 162, 235, 0.2)',#}
{#                            'rgba(255, 206, 86, 0.2)',#}
{#                            'rgba(75, 192, 192, 0.2)',#}
{#                            'rgba(153, 102, 255, 0.2)',#}
{#                            'rgba(255, 159, 64, 0.2)'#}
{#                        ],#}
{#                        borderColor: [#}
{#                            'rgba(255,99,132,1)',#}
{#                            'rgba(54, 162, 235, 1)',#}
{#                            'rgba(255, 206, 86, 1)',#}
{#                            'rgba(75, 192, 192, 1)',#}
{#                            'rgba(153, 102, 255, 1)',#}
{#                            'rgba(255, 159, 64, 1)'#}
{#                        ],#}
{#                        borderWidth: 1#}
{#                    }]#}
{#                },#}
{#                options: {#}
{#                    scales: {#}
{#                        yAxes: [{#}
{#                            ticks: {#}
{#                                beginAtZero:true,#}
{#                                callback: function(value) {if (value % 1 === 0) {return value;}}#}
{#                            }#}
{#                        }]#}
{#                    }#}
{#                }#}
{#            });#}
{#    }#}

{#    {% endblock %}#}
{#</script>#}

{% block main %}
<h1 class="logo"><a href="{% url 'home' %}"><span class="fa fa-bar-chart "></span> Charts</a></h1>
    <script>
          $(function(){
    $(".dropdown-menu").on('click', 'li a', function(){
      $(".btn:first-child").text($(this).text());
      $(".btn:first-child").val($(this).text());
   });
});

    $(document).ready(function() {
        // For changing the icon in the panels
        $('.collapse').on('shown.bs.collapse', function () {
            $(this).parent().find(".fa-chevron-down")
                .removeClass("fa-chevron-down")
                .addClass("fa-chevron-up");
        }).on('hidden.bs.collapse', function () {
            $(this).parent().find(".fa-chevron-up")
                .removeClass("fa-chevron-up")
                .addClass("fa-chevron-down");
        })
    });

{#    var canvas = $("#myChart1").get(0);#}
{#    var dataURL = canvas.toDataURL();#}
{#    console.log(dataURL);#}
{##}
{#    $("#exportButton").click(function(){#}
{#        var pdf = new jsPDF();#}
{#        pdf.addImage(dataURL, 'JPEG', 0, 0);#}
{#        pdf.save("download.pdf");#}
{#    });#}

{#    $(document).ready(function () {#}
{#    var ctx = document.getElementById("myChart1");#}
{#    window.myLine = new Chart(ctx).Bar(setChart("myChart1"), {#}
{#        responsive: true#}
{#    });#}
{#    $('#download').click(function () {#}
{#        html2canvas($("#canvas"), {#}
{#            onrendered: function (canvas) {#}
{#                var imgData = canvas.toDataURL('image/png');#}
{#                var doc = new jsPDF('p', 'mm');#}
{#                doc.addImage(imgData, 'PNG', 10, 10);#}
{#                doc.save('sample-file.pdf');#}
{#            }#}
{#        });#}
{#    });#}
{#{);#}


        var jsonUrl = '{% url 'chart_data_json' %}';

    var avgByCategoryOptions = {
        credits: {
            enabled: false
        },
        chart: {
            renderTo: 'avgByCategoryPanel',
            type: 'column'
        },
        legend: {enabled: false},
        title: {text: null},
        xAxis: {},
        yAxis: {title: {text: null}},
        series: [{}]
    };
{#    function loadAvgByCategory(path){#}
        $.getJSON(path,
            function(data) {
{#                avgByCategoryOptions.xAxis.categories = data['chart_data']['categories'];#}
{#                avgByCategoryOptions.series[0].name = 'Avg Glucose ({{ user.settings.glucose_unit }})';#}
                avgByCategoryOptions.series[0].data = data['chart_data']['values'];
                var chart = new Highcharts.Chart(avgByCategoryOptions);
        });
{#    }#}
{#    $('#avgByCategorySelect').change(function(){#}
{#        var days = $('#avgByCategorySelect').val();#}
{#        var path = jsonUrl + '?name=admin_member';#}
{#        loadAvgByCategory(path);#}
{#    });#}


    </script>

    <div class="row">
<div class="chart">
<!-- Bruk denne dropdownen til å bestemme ulike statestikk -->
<div class="col-md-1 col-md-offset-1">
  <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-labelledby="dropdownMenu" aria-haspopup="true" aria-expanded="true">
    Select statistic
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
{#        <li><a tabindex="-1" href="{% url 'ChartView' %}">Admin/member</a></li>#}
{#        <li><a tabindex="-1" href="#">Gender</a></li>#}
{#        <li><a tabindex="-1" href="{% url 'ChartView/month' %}">Monthly registrations</a></li>#}
{#        <li><a tabindex="-1" href="#">Something else here</a></li>#}
  </ul>
</div>
</div>

    <div class="col-md-2 col-md-offset-7">
        <a class="btn btn-primary btn-m" href="{% url 'home' %}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            {% trans 'Return Home' %}
        </a>
    </div>

    </div>
    </div>

    <br>

<div class="container">
 <div class="row">
{#    <div class="col-sm-6 col-md-6">#}
    <div class ="col-md-6 col-md-6">
        <div id="accordion1" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseBody1">
                        Bar chart
                        <span class="fa fa-chevron-up pull-right"></span>
                    </a>
                </h4>
            </div>
        <div id="collapseBody1" class="panel-collapse collapse in">
            <div class="chart1">
{#                <div class="col-sm-12">#}
{#                    <h1>Hello World</h1>#}
                    <canvas id="myChart1" width="400" height="400"></canvas><br>
{#                <button id="exportButton" type="button">Export as PDF</button>#}
{#                <button id="download">Download Pdf</button>#}
{#                </div>#}
            </div>
        </div>
    </div>
    </div>


{#          <div class ="col-sm-6 col-md-6">#}
{#     <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="collapse" data-target="#demo">Bar chart#}
{#         <span class="fa fa-chevron-up pull-right"></span>#}
{#      <div id="demo" class="collapse">#}
{#          <div class="chart1">#}
{#            <canvas id="myChart1" width="400" height="400"></canvas>#}
{#          </div>#}
{#      </div>#}
{#         </button>#}
{#     </div>#}


    <div class ="col-md-6 col-md-6">
        <div id="accordion2" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseBody2">
                        Polar chart
                        <span class="fa fa-chevron-up pull-right"></span>
                    </a>
                </h4>
            </div>
             <div id="collapseBody2" class="panel-collapse collapse in">
                <div class="chart1">
{#                    <div class="col-sm-12">#}
{#                        <h1>Hello World</h1>#}
                        <canvas id="myChart2" width="400" height="400"></canvas>
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>

{#          <div class ="col-sm-6 col-md-6">#}
{#     <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="collapse" data-target="#butCha2">Polar chart#}
{#         <span class="fa fa-chevron-up pull-right"></span>#}
{#      <div id="butCha2" class="collapse">#}
{#          <div class="chart1">#}
{#            <canvas id="myChart2" width="400" height="400"></canvas>#}
{#          </div>#}
{#      </div>#}
{#         </button>#}
{#     </div>#}

</div>
</div>
<br>

<div class="container">
 <div class="row">
    <div class ="col-sm-6 col-md-6">
        <div id="accordion3" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseBody3">
                        Doughnut chart
                        <span class="fa fa-chevron-up pull-right"></span>
                    </a>
                </h4>
            </div>
        <div id="collapseBody3" class="panel-collapse collapse in">
            <div class="chart1">
{#                <div class="col-sm-12">#}
{#                    <h1>Hello World</h1>#}
                    <canvas id="myChart3" width="400" height="400"></canvas>
{#                </div>#}
            </div>
        </div>
        </div>
    </div>


{#     <div class ="col-sm-6 col-md-6">#}
{#     <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="collapse" data-target="#butCha3">Doughnut chart#}
{#         <span class="fa fa-chevron-up pull-right"></span>#}
{#      <div id="butCha3" class="collapse">#}
{#          <div class="chart1">#}
{#            <canvas id="myChart3" width="400" height="400"></canvas>#}
{#          </div>#}
{#      </div>#}
{#         </button>#}
{#     </div>#}


    <div class ="col-sm-6 col-md-6">
        <div id="accordion4" class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseBody4">
                    Horizontal bar chart
                    <span class="fa fa-chevron-up pull-right"></span>
                </a>
            </h4>
        </div>
         <div id="collapseBody4" class="panel-collapse collapse in">
            <div class="chart1">
{#                <div class="col-sm-12">#}
{#                    <h1>Hello World</h1>#}
                    <canvas id="myChart4" width="400" height="400"></canvas>
{#                </div>#}
            </div>
        </div>
        </div>
    </div>

{#    <div class ="col-sm-6 col-md-6">#}
{#     <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="collapse" data-target="#butCha4">Horizontal bar chart#}
{#         <span class="fa fa-chevron-up pull-right"></span>#}
{#      <div id="butCha4" class="collapse">#}
{#          <div class="chart1">#}
{#            <canvas id="myChart4" width="400" height="400"></canvas>#}
{#          </div>#}
{#      </div>#}
{#         </button>#}
{#     </div>#}
</div>
</div>


{#<div class="container">#}
{# <div class="row">#}
{#    <div class="col-sm-6 col-md-6">#}
{#        <div class="chart1">#}
        {#    <div class="col-sm-12">#}
        {#        <h1>Hello World</h1>#}
{#                <canvas id="myChart3" width="400" height="400"></canvas>#}
        {#    </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#     <div class="col-sm-6 col-md-6">#}
{#        <div class="chart1">#}
        {#    <div class="col-sm-12">#}
        {#        <h1>Hello World</h1>#}
{#                <canvas id="myChart4" width="400" height="400"></canvas>#}
        {#    </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}
{#</div>#}


	<script src="{% static 'js/chart.js' %}"></script>

{% endblock main %}


