{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block head %}
    <link href="{% static 'css/chart.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{#        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">#}
{##}
{#            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>#}

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

{% endblock head %}

{% block main %}
<h1 class="logo"><a href="{% url 'home' %}"><span class="fa fa-bar-chart "></span> Charts</a></h1>
    <script>
          $(function(){
    $(".dropdown-menu").on('click', 'li a', function(){
      $(".btn:first-child").text($(this).text());
      $(".btn:first-child").val($(this).text());
   });
});

    $(document).ready(function() {
        // For changing the icon in the panels
        $('.collapse').on('shown.bs.collapse', function () {
            $(this).parent().find(".fa-chevron-down")
                .removeClass("fa-chevron-down")
                .addClass("fa-chevron-up");
        }).on('hidden.bs.collapse', function () {
            $(this).parent().find(".fa-chevron-up")
                .removeClass("fa-chevron-up")
                .addClass("fa-chevron-down");
        })
    });

      var endpoint = '/api/chart/data/';

{#    var labels01 = [];#}
{#    var defaultData01 = [];#}
{#    var labels02 = [];#}
{#    var defaultData02 = [];#}
    var labels13 = [];
    var defaultData13 = [];
    var labels14 = [];
    var defaultData14 = [];
    var labels15 = [];
    var defaultData15 = [];
{#    var categories = ['Member', 'Board'];#}


     $.ajax({
        method: "GET",
        url: endpoint,
         /**
          * @param data
          * @param data.labels   indicates ajax code ran successfully
          * @param data.default
          * @param data.default2
          * @param data.labels2
          * @param data.default3
          * @param data.labels3
          * @param data.default4
          * @param data.labels4
          * @param data.default5
          * @param data.labels5
          * @param data.dif
          */
        success: function (data) {
{#                labels01 = data.labels01;#}
{#                defaultData01 = data.default01;#}
{#                labels02 = data.labels02;#}
{#                defaultData02 = data.default02;#}
                labels13 = data.labels13;
                defaultData13 = data.default13;
                labels14 = data.labels14;
                defaultData14 = data.default14;
                labels15 = data.labels15;
                defaultData15 = data.default15;
                setChart()
            },
            error: function (error_data) {
                console.log("error");
                console.log(error_data)
            }
        });

         function setChart() {
             //Female & Male
              $(function () {
            $('#container2').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: 'Age'
                },
                subtitle: {
                    text: 'Source: sioforeninger.no'
                },
                 credits: {
                    enabled: false
                },
                xAxis: {
                    categories: [
                        'Group'

                    ]
                },
                yAxis: {
                    tickInterval: 1,
                    minRange: 1,
                    title: {
                        text: 'Data'
                    }
                },
                tooltip: {
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: labels13,
                    data: defaultData13

                },{
                    name: labels14,
                    data: defaultData14

                },{
                    name: labels15,
                    data: defaultData15
                }]
            });
        });

          $(function () {
            $('#container3').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Age'
                },
                subtitle: {
                    text: 'Source: sioforeninger.no'
                },
                 credits: {
                    enabled: false
                },
                xAxis: {
                    categories: [
                        'Group'

                    ]
                },
                yAxis: {
                    tickInterval: 1,
                    minRange: 1,
                    title: {
                        text: 'Data'
                    }
                },
                tooltip: {
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                  series: [{
                    name: labels13,
                    data: defaultData13

                },{
                    name: labels14,
                    data: defaultData14

                },{
                    name: labels15,
                    data: defaultData15
                }]
            });
        });


     }




    </script>

    <div class="row">
<div class="chart">
<!-- Bruk denne dropdownen til å bestemme ulike statestikk -->
<div class="col-md-1 col-md-offset-1">
  <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-labelledby="dropdownMenu" aria-haspopup="true" aria-expanded="true">
    Select statistic
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a tabindex="-1" href="{% url 'chartViewHighAM' %}">Board & Member</a></li>
        <li><a tabindex="-1" href="{% url 'chartViewHighGender' %}">Gender</a></li>
        <li><a tabindex="-1" href="{% url 'chartViewHighMonth' %}">Monthly registrations</a></li>
        <li><a tabindex="-1" href="{% url 'chartViewHighAge' %}">Age difference</a></li>
  </ul>
</div>
</div>

    <div class="col-md-2 col-md-offset-7">
        <a class="btn btn-primary btn-m" href="{% url 'home' %}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            {% trans 'Return Home' %}
        </a>
    </div>

    </div>
    </div>

    <br>

<div class="container">
     <div class="row">
        <div class ="col-sm-6 col-md-6">
            <div id="accordion3" class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseBody3">
                            Horizontal bar chart
                            <span class="fa fa-chevron-up pull-right"></span>
                        </a>
                    </h4>
                </div>
            <div id="collapseBody3" class="panel-collapse collapse in">
                <div class="chart1">
                        <div id="container2"></div>
                </div>
            </div>
            </div>
        </div>



        <div class ="col-sm-6 col-md-6">
            <div id="accordion4" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-target="#collapseBody4">
                            Bar chart
                        <span class="fa fa-chevron-up pull-right"></span>
                    </a>
                </h4>
            </div>
             <div id="collapseBody4" class="panel-collapse collapse in">
                <div class="chart1">
                        <div id="container3"></div>
                </div>
            </div>
            </div>
        </div>

    </div>
</div>



{% endblock main %}


