{% extends 'base.html' %}
{% load event_tags %}

{#{% block head %}#}
{#  <link href="{% static 'css/events.css' %}" rel="stylesheet">#}
{#    {{ form.media }}#}
{#{% endblock head %}#}
{##}
{#<div id="calendar">#}
{#    {% event_calendar year month event_list %}#}
{#</div>#}


<h1>Calendar</h1>
<table width="100%">
    <tr>
        <td width="20%" align="left">
          &lt;&lt; <a href="/calendar/{{PreviousYear}}/{{PreviousMonth}}/">{{PreviousMonthName}} {{PreviousYear}}</a>
        </td>
        <td width="20%" align="left">
          &lt;&lt; <a href="/calendar/{{YearBeforeThis}}/{{Month}}/">{{MonthName}} {{YearBeforeThis}}</a>
        </td>
        <td width="20%" align="center"><a href="/calendar">Today</a></td>
        <td width="20%" align="right">
          <a href="/calendar/{{YearAfterThis}}/{{Month}}/">{{MonthName}} {{YearAfterThis}}</a> &gt;&gt;
        </td>
        <td width="20%" align="right">
          <a href="/calendar/{{NextYear}}/{{NextMonth}}/">{{NextMonthName}} {{NextYear}}</a> &gt;&gt;
        </td>
    </tr>
</table>
<div id="calendar">
  {{Calendar}}
</div>



