{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block head %}
  <link href="{% static 'css/member_signup.css' %}" rel="stylesheet">
    {{ form.media }}
{% endblock head %}

{% block main %}
{#{% block content %}#}

{#    <p>Are you sure you want to delete "{{ member_no }}"?</p>#}
 <div class="signup">
    <form action="" method="POST">
{#    <form action="" method="POST">#}
        {% csrf_token %}
{#        <p>Are you sure you want to delete following member: {{ member.first_name }}?</p>#}
         <center><p>Are you sure you want to delete following admin ?</p></center>
         <table class="table table-bordered">
            <thead>
                <tr>
                    <th>first_name</th>
                    <th>last_name</th>
                    <th>email</th>
{#                    <th>student_status</th>#}
                    <th>union_position</th>
                    <th>username</th>
{#                    <th>password</th>#}
                </tr>
             </thead>
              <tbody>
                <tr>
                    <td>{{ administrator.first_name }}</td>
                    <td>{{ administrator.last_name }}</td>
                    <td>{{ administrator.email }}</td>
{#                    <td>{{ administrator.student_status }}</td>#}
                    <td>{{ administrator.union_position }}</td>
                    <td>{{ administrator.username }}</td>
{#                    <td>{{ administrator.password }}</td>#}
                </tr>
              </tbody>
         </table>
         <center><input type="submit" class="btn btn-danger btn-m"  value="Yes, delete" />
        <a class="btn btn-info btn-m" href="{% url "admin_overview" %}">No, cancel.</a></center>
    </form>
 </div>


{#    <div class="confirmation-box">#}
{#        <p>{{ messages }}</p>#}
{#        <div>#}
{#            <a href="{{ member_overview }}">Cancel</a>#}
{#            <form action="{{ member_delete }}" method="post">#}
{#                <input type="hidden" name="next" value="{{ member_overview }}" />#}
{#                <input type="submit" value="Send" />#}
{#            </form>#}
{#        </div>#}
{#    </div>#}

{% endblock main %}