@media only screen and (max-device-width: 480px) {
	/* smartphones, iPhone, portrait 480x320 phones */
	html,
	body {
		font-size: 18pt;
	}
	#cal-content-top {
		height: 60px;
		line-height: 60px;
	}
	#week-days li.week-day {
		height: 60px;
		line-height: 60px;
	}
	#week-row li.week-row-cell {
		height: calc((100% - 120px) / 6);
	}
	#cal-side-bar {
		width: 0;
	}
	#cal-content {
		width: 70%;
	}
	.form-wrapper form {
		width: 600px;
		height: 700px;
	}
}

@media (max-width:900px) {
	#cal-side-bar {
		width: 100%;
	}
	#cal-content {
		width: 91%;
	}

	.event-li .event-li-name {
	/*float: left;*/
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1rem;
    height: 1rem;
    white-space: nowrap;
		padding: 1px 33px 1px 11px;
	         /*!*T   R    B    L*!*/

}
.event-li .event-li-time {
	/*float: left;*/
	width: 20%;
		padding: 1px 33px 1px 11px;
	         /*!*T   R    B    L*!*/

}
}

@media (min-width:1024px) {
	#cal-side-bar {
		width: 20%;
	}
	#cal-content {
		width: 72%;
	}

	.event-li .event-li-name {
	/*float: left;*/
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1rem;
    height: 1rem;
    white-space: nowrap;
		padding: 1px 33px 1px 11px;
	         /*!*T   R    B    L*!*/

}
.event-li .event-li-time {
	/*float: left;*/
	width: 20%;
		padding: 1px 33px 1px 11px;
	         /*!*T   R    B    L*!*/

}
}


