
/*#cal-side-bar {*/
/*!*    padding: 10px;*!*/
	/*float: left;*/
	/*width: 250px;*/
	/*height: 130%;*/
	/*background: #d84545;*/
	/*color: white;*/
	/*overflow: hidden;*/
	/*position: relative;*/
	/*transition: 0.5s;*/
	/*!*margin: 30px auto;*!*/
/*}*/
/*!*TODO: DENNE FIKSER PÅ HØYDEN FOR VENSTRE SIDE AV BAREN*!*/
/*#cal-side-bar-top {*/
	/*height: 10px;*/
	/*line-height: 10px;*/
/*}*/
/*#btn-menu {*/
	/*font-size: 1.3rem;*/
	/*display: inline;*/
/*}*/

/*#cal-thumb {*/
	/*!*padding: 10px 20px;*!*/
		/*margin: 1px 1px 1px 1px;*/

	/*display: inline-block;*/
	/*width: 100%;*/
/*!*    height: 250px;*!*/
/*}*/
/*#cal-thumb-content-top {*/
	/*padding: 7px;*/
	/*font-size: 1.1rem;*/
	/*text-align: center;*/
/*}*/

/*#cal-thumb-content-grid {*/
	/*font-size: 0.8rem;*/
	/*text-align: center;*/
/*}*/
/*#thumb-week-days li {*/
	/*float: left;*/
	/*width: calc(100% / 7);*/
	/*padding: 3px;*/
/*}*/

/*.thumb-week-row li {*/
	/*float: left;*/
	/*width: calc(100% / 7);*/
	/*padding: 3px;*/
/*}*/
/*.thumb-week-row li:not(.disabled) {*/
	/*background: #680d0d;*/
/*}*/
/*.thumb-week-row li.selected {*/
	/*background: white;*/
	/*color: #680d0d;*/
/*}*/

/*#time {*/
	/*padding: 10px;*/
	/*font-size: 3.5rem;*/
	/*font-weight: lighter;*/
	/*text-align: center;*/
/*}*/
/*#time #am-pm {*/
	/*font-size: 1rem;*/
/*}*/

/*#today-events {*/
	/*width: 100%;*/
/*!*    height: 170px;*!*/
/*}*/
/*.top-heading {*/
	/*font-size: 0.9rem;*/
	/*padding: 5px 20px;*/
/*}*/
/*#today-events ul {*/
/*!*    height: calc(100% - 1rem);*!*/
	/*overflow-y: auto;*/
	/*overflow-x: hidden;*/
	/*background: #680d0d;*/
	/*padding: 0px 20px;*/
/*}*/
/*#today-events li {*/
	/*width: 100%;*/
	/*border-bottom: 1px solid #2ed39e;*/
	/*height: 2rem;*/
	/*line-height: 2rem;*/
/*}*/

/*#weather {*/
	/*position: absolute;*/
	/*left: 0px;*/
	/*bottom: 30px;*/
	/*width: 100%;*/
/*}*/
/*#weather-content {*/
	/*background: #680d0d;*/
	/*height: 100px;*/
	/*padding: 5px 20px;*/
/*}*/
/*#weather-type {*/
	/*display: inline-block;*/
	/*height: 100%;*/
	/*text-align: center;*/
	/*padding: 5px;*/
/*}*/
/*#weather-type-icon {*/
	/*padding: 5px;*/
	/*font-size: 3rem;*/
/*}*/
/*#weather-max {*/
	/*font-size: 3rem;*/
/*}*/
/*#weather-min {*/
	/*font-size: 2rem;*/
/*}*/



#cal-side-bar {
/*    padding: 10px;*/
	float: left;
	width: 250px;
	height: 70%;
	background: #d84545;
	color: white;
	overflow: hidden;
	position: relative;
	transition: 0.5s;
}
/*TODO: DENNE FIKSER PÅ HØYDEN FOR VENSTRE SIDE AV BAREN*/
#cal-side-bar-top {
	height: 10px;
	line-height: 10px;
}
#btn-menu {
	font-size: 1.3rem;
	display: inline;
}

#cal-thumb {
	padding: 10px 20px;
	display: inline-block;
	width: 100%;
/*    height: 250px;*/
}
#cal-thumb-content-top {
	padding: 7px;
	font-size: 1.1rem;
}

#cal-thumb-content-grid {
	font-size: 0.8rem;
	text-align: center;
}
#thumb-week-days li {
	float: left;
	width: calc(100% / 7);
	padding: 3px;
}

.thumb-week-row li {
	float: left;
	width: calc(100% / 7);
	padding: 3px;
}
.thumb-week-row li:not(.disabled) {
	background: #680d0d;
}
.thumb-week-row li.selected {
	background: white;
	color: #680d0d;
}

#time {
	padding: 10px;
	font-size: 3.5rem;
	font-weight: lighter;
	text-align: center;
}
#time #am-pm {
	font-size: 1rem;
}

#today-events {
	width: 100%;
/*    height: 170px;*/
}
.top-heading {
	font-size: 0.9rem;
	padding: 5px 20px;
}
#today-events ul {
/*    height: calc(100% - 1rem);*/
	overflow-y: auto;
	overflow-x: hidden;
	background: #680d0d;
	padding: 0px 20px;
}
#today-events li {
	width: 100%;
	border-bottom: 1px solid #2ed39e;
	height: 2rem;
	line-height: 2rem;
}

#weather {
	position: absolute;
	left: 0px;
	bottom: 30px;
	width: 100%;
}
#weather-content {
	background: #680d0d;
	height: 100px;
	padding: 5px 20px;
}
#weather-type {
	display: inline-block;
	height: 100%;
	text-align: center;
	padding: 5px;
}
#weather-type-icon {
	padding: 5px;
	font-size: 3rem;
}
#weather-max {
	font-size: 3rem;
}
#weather-min {
	font-size: 2rem;
}



