{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block head %}
    <link href="{% static 'css/post.css' %}" rel="stylesheet">
    <link href="{% static 'javascript/post.js' %}" rel="stylesheet">
{#css her#}
	
{% endblock head %}
{% block main %}
		{% csrf_token %}
 <form>
 <div class="container">
     <div class="form-group">
         <label for="toPost">Send email to:</label>
         <input type="email" class="form-control" id="toPost">
     </div>
    <div class="form-group">
      <label for="email">Write your email text here</label>
      <textarea class="form-control" rows="5" id="email"></textarea>
    </div>
 <button onclick="warning()" type="submit" class="btn btn-danger">Send email</button>
     </div>
  </form>
{% endblock main %}
