body {
  /*background-color: #d84545;*/
  background-color: #FFFFFF;
}

a {
  border-bottom: firebrick;
}

.logo {
  margin: 0;
  font-size: 3em;
  font-weight: 200;
  /*font-family: "Audiowide", cursive;*/
  text-align: center;
  text-shadow: 1px 1px 0 #333333;
  line-height: 70px;
}

.logo a {
  /*color: #f6f6f6;*/
    color: #000000;

}

.logo a:hover, .logo a:focus {
  color: #0000FF;
  text-decoration: none;
}

.signup {
  /*background-color: #f6f6f6;*/
    background-color: #DCDCDC;
  width: 100%;
  margin: 10px auto 0;
  border-bottom: 10px solid #7B1801;
    border-radius: 0 0 15px 15px;
    border-top: 1px solid #7B1801;
}

.signup {
  padding: 30px 20px;
}

.tablecontent {
  background-color: #e6f0ff;
}

@media (max-width:980px) {
	.signup {
		    width: auto;
  /*height: 300px;*/
  overflow-y: hidden;
  overflow-x: scroll;
  /*transform: rotate(-90deg);*/
  transform-origin: right top;
	}
}

.signup form {
  margin-top: 20px;
}

.signup h2 {
  margin: 0;
}
th {
  background-color: #eee;
}

/*.table{*/
  /*width: auto;*/
  /*!*height: 300px;*!*/
  /*overflow-y: scroll;*/
  /*overflow-x: hidden;*/
  /*!*transform: rotate(-90deg);*!*/
  /*transform-origin: right top;*/
/*}*/






/*.input[type=text] {*/
    /*width: 130px;*/
    /*-webkit-transition: width 0.4s ease-in-out;*/
    /*transition: width 0.4s ease-in-out;*/
/*}*/

/*!* When the input field gets focus, change its width to 100% *!*/
/*input[type=text]:focus {*/
    /*width: 100%;*/
/*}*/



/*.search-form .form-group {*/
  /*float: right !important;*/
  /*transition: all 0.35s, border-radius 0s;*/
  /*width: 32px;*/
  /*height: 32px;*/
  /*background-color: #fff;*/
  /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
  /*border-radius: 25px;*/
  /*border: 1px solid #ccc;*/
/*}*/
/*.search-form .form-group input.form-control {*/
  /*padding-right: 20px;*/
  /*border: 0 none;*/
  /*background: transparent;*/
  /*box-shadow: none;*/
  /*display:block;*/
/*}*/
/*.search-form .form-group input.form-control::-webkit-input-placeholder {*/
  /*display: none;*/
/*}*/
/*.search-form .form-group input.form-control:-moz-placeholder {*/
  /*!* Firefox 18- *!*/
  /*display: none;*/
/*}*/
/*.search-form .form-group input.form-control::-moz-placeholder {*/
  /*!* Firefox 19+ *!*/
  /*display: none;*/
/*}*/
/*.search-form .form-group input.form-control:-ms-input-placeholder {*/
  /*display: none;*/
/*}*/
/*.search-form .form-group:hover,*/
/*.search-form .form-group.hover {*/
  /*width: 100%;*/
  /*border-radius: 4px 25px 25px 4px;*/
/*}*/
/*.search-form .form-group span.form-control-feedback {*/
  /*position: absolute;*/
  /*top: -1px;*/
  /*right: -2px;*/
  /*z-index: 2;*/
  /*display: block;*/
  /*width: 34px;*/
  /*height: 34px;*/
  /*line-height: 34px;*/
  /*text-align: center;*/
  /*color: #3596e0;*/
  /*left: initial;*/
  /*font-size: 14px;*/
/*}*/

#progressBar {
position: fixed;
z-index: 999999;
top: 0;
left: 0;
width: 0%;
height: 2px;
background: #b91f1f;
border-radius: 10%;
-moz-transition: width 500ms ease-out,opacity 400ms linear;
-ms-transition: width 500ms ease-out,opacity 400ms linear;
-o-transition: width 500ms ease-out,opacity 400ms linear;
-webkit-transition: width 500ms ease-out,opacity 400ms linear;
transition: width 500ms ease-out,opacity 400ms linear;
}
#progressBar:before {
position: absolute;
content: '';
top: 0;
opacity: 1;
width: 10%;
right: 0px;
height: 2px;
box-shadow: #b91f1f 1px 0 6px 2px;
border-radius: 50%;
}
