body {
  background-color: #d84545;
}

.logo {
  margin: 0;
  font-size: 3em;
  font-weight: 200;
  font-family: "Audiowide", cursive;
  text-align: center;
  text-shadow: 1px 1px 0 #333333;
  line-height: 70px;
}

.logo a {
  color: #f6f6f6;
}

.logo a:hover, .logo a:focus {
  color: #0000FF;
  text-decoration: none;
}

.chart {
  background-color: #f6f6f6;
  width: 70%;
  border-radius: 7px;
  margin: 10px auto 0;
}

.chart {
  padding: 30px 20px;
    margin-bottom: 2%;
}

.chart form {
  margin-top: 20px;
}

.chart h2 {
  margin: 0;
}