{% extends 'base.html' %}
{% load staticfiles i18n %}
{#{% load i18n %}#}

{% block head %}
  <link href="{% static 'css/dashboard.css' %}?v=1" rel="stylesheet">

{#  <script src="{% static 'js/feeds.js' %}?v=1"></script>#}
{% endblock head %}

{% block main %}

     <center><h1>{{ user.profile.get_association_name }}</h1></center>

{#    <div class="container">#}
{#        <h3><a href="{% url 'member_signup' %}" class="btn btn-link">{% trans 'Ny Medlem' %}</a></h3>#}
{#    </div>#}

    <div class="container">
        <h3><a href="{% url 'member_overview' %}" class="btn btn-link">{% trans 'Medlemmer' %}</a></h3>
    </div>

    <div class="container">
        <h3><a href="{% url 'ChartView' %}" class="btn btn-link">{% trans 'Statestikk' %}</a></h3>
    </div>

    <div class="container">
        <h3><a href="{% url 'admin_overview' %}" class="btn btn-link">{% trans 'Administrator' %}</a></h3>
    </div>

{#    <div class="container">#}
{#        <h3>{% trans 'E-post' %}</h3>#}
{#    </div>#}

    <div class="container">
        <h3><a href="{% url 'calendar' %}" class="btn btn-link">{% trans 'Kalender' %}</a></h3>
    </div>

{% endblock main %}
